body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}